<div class="container">
<h2>Listado de Customers</h2>
<a class="btn btn-primary" routerLink="/customers/add">Crear Customer</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Email</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of customers">
      <th scope="row">{{c.id}}</th>
      <td>{{c.firstName}}</td>
      <td>{{c.lastName}}</td>
      <td>{{c.email}}</td>
      <td><button class="btn btn-danger" (click)="c.id !== undefined && deleteCustomer(c.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
</div>
<!--
<ul>
    <li *ngFor="let c of customers">
        {{c.id}} - {{c.firstName}} - {{c.lastName}} - {{c.email}}
    </li>
</ul>
-->
